@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: "Roboto", sans-serif;
    --primary-color: #5576CE;
    --heading-color: #263238;
    --text-color: #67727E;
    --accent-color: #19E8B3;
    --border-color: #BEBEBE;
    --background-color: #fff;
    --error-color: #ff0000;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

.layout-container {
    display: grid;
    grid-template-columns: 0.632fr 1fr;
    height: 100vh;
}

.layout-section-left {
    background-color: var(--accent-color);
}

.layout-section-right {
    background-color: var(--background-color);
}

.login-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    height: 80vh;
    position: fixed;
    inset: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    width: 90%;
}

.login-section-left {
    background-color: var(--accent-color);
}

.login-section-right {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 100%;
    max-width: 400px;
}

.login-title {
    text-align: center;
    color: var(--heading-color);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form-group {
    display: flex;
    flex-direction: column;
}

.login-form-label {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--heading-color);
}

.login-form-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-forgot-password {
    font-size: 12px;
    color: var(--primary-color);
    text-align: right;
    margin-top: 5px;
}

.login-forgot-password:hover {
    text-decoration: underline;
}

.login-submit-button {
    padding: 10px;
    font-size: 16px;
    background-color: var(--accent-color);
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-error-message {
    color: var(--error-color);
    font-size: 12px;
    margin-top: 5px;
    min-height: 1.25rem;
}

.login-success-message {
    color: var(--accent-color);
    font-size: 12px;
    margin-top: 5px;
    min-height: 1.25rem;
}